# Ignore Python cache and virtual environment
__pycache__/
venv/
*.pyc
*.pyo
*.pyd

# Ignore SQLite database
artworks.db

# Ignore uploaded files
data/

# Ignore environment variables
.env

# Ignore session filess
flask_session/

